<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/cost-of-living.css' />
    </head>
    <body>

    <header>
        <h1>Cost of Living</h1>
        <form>
            <select name="valueX">
                <option value="singlePerson">Single person cost</option>
                <option value="family">Family of 4 cost</option>
                <option value="apartment">1 bed city-center apartment cost</option>
                <option value="utilities">Monthly utilities cost</option>
                <option value="monthlyPass">Monthly transportation cost</option>
                <option value="expensiveMeal">Expensive meal for 2 cost</option>
            </select>

            <span>vs</span>

            <select name="valueY">
                <option value="singlePerson">Single person cost</option>
                <option value="family">Family of 4 cost</option>
                <option value="apartment">1 bed city-center apartment cost</option>
                <option value="utilities">Monthly utilities cost</option>
                <option value="monthlyPass">Monthly transportation cost</option>
                <option value="expensiveMeal">Expensive meal for 2 cost</option>
            </select>
        </form>
    </header>

    <main>
        <svg></svg>
    </main>

    </body>
    <script src="javascripts/d3.min.js" type="text/javascript"></script>
    <script src="data/costOfLivingData.js" type="text/javascript"></script>
    <script src="javascripts/costOfLiving.js" type="text/javascript"></script>
</html>