<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <nav>
      <a href="/heat-map">City Temperatures</a>
      <a href="/cost-of-living">Cost of Living</a>
      <a href="/movie-ratings">Movie Ratings</a>
    </nav>
  </body>
</html>
