<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </header>
    <nav>
      <ul>
        <li>
          <a href="/heat-map">City Temperatures</a>
        </li>
        <li>
          <a href="/cost-of-living">Cost of Living</a>
        </li>
        <li>
          <a href="/movie-ratings">Movie Ratings</a>
        </li>
        <li>
          <a href="/name-rankings">Name Rankings</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
