@import url(//fonts.googleapis.com/css?family=Work-Sans:400,700);

/* Vars */
:root {
    --background: #fff9f9;
    --primary-color: #ff0000;
}
/* End Vars */


/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End CSS Reset */

/* Custom CSS */
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--background);
    text-align: center;
}

a {
    color: #00B7FF;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 1rem;
}

span {
    margin: 0 8px;
}

circle {
    fill: var(--primary-color);
    stroke: var(--background);
    stroke-width: 3px;
}

line {
    stroke-width: 1px;
    stroke-dasharray: 2 8;
}

path.domain {
    stroke-width: 3px;
}

text.x-axis, text.y-axis {
    fill: var(--primary-color);
    font-size: 24px;
    text-anchor: middle;
    dominant-baseline: middle;
}

g.city rect {
    fill: var(--primary-color);
    opacity: 0;
    transition: opacity 0.25s;
}

g.city text {
    fill: var(--background);
    text-anchor: middle;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.25s;
}

g.city:hover rect, g.city:hover text {
    opacity: 1;
}

@media (max-width: 1000px) {
    body {
        margin: 20px;
    }
}